// Адаптивная верстка //
@media (max-width: 1360px) {
  .container {/*width:600px*/}
  
  .page-header {
    &__container {
      max-width: 1359px;
      flex-wrap: wrap;
    }
    
    &__navigation {
      margin-right: 0;
    }
  }
}



@media (max-width:649px) {
  .container {/*width:400px*/}
}



@media (max-width:479px) {
  .container {/*width:90%*/}
}
// Адаптивная верстка //
