// Адаптивная верстка //
@media (max-width: 1325px) {
  .container {/*width:600px*/
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 0 20px;
    box-sizing: border-box;
  }
  
  .page-header {
    &__container {
      width: 100%;
      margin: 0;
    }
  }
}



@media (max-width:649px) {
  .container {/*width:400px*/}
}



@media (max-width:479px) {
  .container {/*width:90%*/}
}
// Адаптивная верстка //
