@import "basics.scss";

// Секции, header, footer и т.д. //
// Главное меню

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  min-height: 72px;
  z-index: 100;
  
  &__container {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  &__logo {
    box-sizing: border-box;
    margin-left: -6px;
    padding-top: 22px;
//    padding-left: 26px;
    
    img {
      width: 76px;
      height: 76px;
    }
  }
  
  &__blockquote {
    box-sizing: border-box;
    margin: 0;
    padding-top: 26px;
    padding-left: 32px;
    padding-right: 24px;
    width: 200px;
    font-family: $font_2;
    font-size: 15px;
    font-style: italic;
    font-weight: normal;
    line-height: 1em*(22/15);
  }
  
  &__navigation {
    margin-right: auto;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  &__contacts {
    box-sizing: border-box;
    padding-top: 34px;
//    padding-right: 40px;
    padding-left: 10px;
    width: 173px;
    
    a {
      font-family: $font_1;
      font-size: 12px;
      line-height: (24/12)*1em;
      letter-spacing: 2.4px;
      font-weight: 500;
      font-style: normal;
      text-align: right;
      text-decoration: none;
      color: $base_color_1;
    }
  }
}

.main-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  font-size: 0;
  
  li {
    display: inline-block;
    vertical-align: top;
    margin-right: 22px;
    
    
    &:last-child {
      margin-right: 0;
    }
    
    a {
      font-family: $font_1;
      font-size: 10px;
      line-height: (72/10)*1em;
      letter-spacing: 1.5px;
      font-weight: 500;
      font-style: normal;
      color: $base_color_2;
      text-transform: uppercase;
      text-decoration: none;
      transition: all 0.25 ease-in-out;
      
      &:hover {
        color: $base_color_4;
      }
    }
    
    &.active a,
    &.active a:hover {
      color: $base_color_1;
    }
  }  
}

// footer страницы

.page-footer {
  padding: 30px 0;
  background-color: $bg_color_3;
  color: $base_color_1;
  align-self: flex-end;
  
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
  }
  
  &__copyright {
    margin-top: -6px;
    margin-right: auto;
//    padding-left: 34px;
    box-sizing: border-box;
    width: 730*100%/1365;
    
    
    p {
      font-family: $font_1;
      font-size: 12px;
      font-weight: 400;
      line-height: (20/12)*1em;
      text-align: left;
      margin-bottom: 24px;
      
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  
  &__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 32px;
    padding-right: 0;
  }
  
  &__developer {
    font-family: $font_1;
    font-size: 12px;
    font-weight: 400;
    line-height: (20/12)*1em;
    text-decoration: none;
    text-transform: uppercase;
    color: $base_color_1;

    &:hover {
      color: $base_color_3;
    }   
  }
}

.socials {
  font-size: 0;
  
  li {
    display: inline-block;
    vertical-align: top;
    margin-right: 18px;
    
    &:last-child {
      margin-right: 0;
    }
    
    a {
      position: relative;
      display: block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: $base_color_2;
      
      &:hover {
        background-color: $base_color_4;
      }
      
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

// Секции, header, footer и т.д. //

.lead {
  position: relative;
  
  &__img {    
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 1366px;
    height: 768px;
    overflow: hidden;
    background-color: $bg_color_4;    
    
    img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      min-width: 100%;
      min-height: 100%;
      width: 0;
      object-fit: cover;
      opacity: 0.32;
    }
  }
  
  &__container {
    margin-top: -768px;
    height: 768px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  &__title {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;    
    
    h2 {
      position: relative;
      
      a {
        padding: 0 10px;
        font-family: $font_2;
        font-size: 36px;
        line-height: (56/36)*1em;
        letter-spacing: 10.8px;
        font-weight: 400;
        color: $base_color_1;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
      }
    }
    
    p {
      box-sizing: border-box;
      padding: 0 30px;
      width: 580px;
      font-family: $font_2;
      font-size: 15px;
      line-height: (30/15)*1em;
      font-weight: 400;
      font-style: italic;
      text-align: center;
    }
  }
  
  &__controls {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px;
    box-sizing: border-box;
  }
  
  &__footer {
    position: absolute;
    left: 0;
    bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  &__socials {
    margin-bottom: 20px;
  }
  
  &__btn-mouse {
    position: relative;
    position: absolute;
    left: 50%;
    bottom: 20px;
    font-size: 0;
    line-height: 0;
    transform: translate(-50%, 0);
    z-index: 10;
    transition: all 0.25 ease-in-out;
    
    &::before {
      position: absolute;
      content: '';
      top: 100%;
      left: 50%;
      width: 1px;
      height: 90px;
      background-color: $base_color_2;
      transform: translate(-50%, 0);
      transition: all 0.25 ease-in-out;
    }
    
    &:hover::before {
      height: 68px;
      background-color: $base_color_4;
    }
    
    svg {
      width: 23px;
      height: 35px;
      fill: $base_color_2;
      transition: all 0.25 ease-in-out;
    }
    
    &:hover>svg {
      fill: $base_color_4;
    }
  }
}

.btn {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  font-family: $font_1;
  font-size: 11px;
  font-weight: 500;
  line-height: (72/11)*1em;
  letter-spacing: 4.4px;
  color: $base_color_2;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out;
  
  &:hover {
    color: $base_color_4;
  }
  
  &_round {
    padding-right: 48px;
    
    &::before {
      display: block;
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      width: 30px;
      height: 30px;
      border: 1px solid $base_color_2;
      border-radius: 50%;
      transform: translate(0, -50%);
      box-sizing: border-box;
      transition: all 0.25 ease-in-out;
    }
    
    &:hover::before {
      border-color: $base_color_4;
    }
  }
  
  &_plus {
    &::after {
      display: block;
      content: '+';
      position: absolute;
      right: 0;
      top: 50%;
      font-size: 17px;
      font-weight: 400;
      width: 28px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      transform: translate(0, -50%);
      transition: all 0.25 ease-in-out;
    }
    
    &:hover::after {
      font-size: 20px;
      color: $base_color_4;
    }
  }
  
  &_youtube {
    padding-left: 68px;
    transform: translate3d(0, 0, 0);
    
    &:hover {
      padding-left: 120px;
    }
    
    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      content: '';
      width: 46px;
      height: 32px;
      background: url(../img/youtube.svg) 0 0 no-repeat;
      transform: translate(0, -50%);
      transition: all 0.25 ease-in-out;
    }
    
/*    &::after {
      position: absolute;
      top: 50%;
      left: 0;
      content: '';
      width: 155px;
      height: 155px;
      border-radius: 50%;
      background-color: $bg_color_3;
      transform: translate(calc(-50% + 23px), -50%);
      z-index: -100;
    }*/
    
    &:hover::before {
      background-image: url(../img/youtube.svg);
      background-position: -48px 0;
    }
  }
}

.controls {
  
  &__prev,
  &__next {
    position: relative;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
  }
  
  &__prev::before,
  &__next::before {
    position: absolute;
    content: '';
    top: 50%;
    right: 0;
    width: 72px;
    height: 2px;
    background-color: $base_color_2;
    transition: all 0.25 ease-in-out;
  }
  
  &__prev::before {
    left: 0;
  }
  
  &__prev::after,
  &__next::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 7px;
    height: 7px;
  }
  
  &__prev::after {
    left: 0;
    border: 0px solid $base_color_2;
    border-top-width: 2px;
    border-left-width: 2px;
    transform: translate(0, -3px) rotate(-45deg);
  }
  
  &__next::after {
    border: 0px solid $base_color_2;
    border-bottom-width: 2px;
    border-right-width: 2px;
    transform: translate(0, -3px) rotate(-45deg);
  }
  
  &__prev:hover::before,
  &__next:hover::before {
    background-color: $base_color_4;
  }
  
  &__prev:hover::after,
  &__next:hover::after {
    border-color: $base_color_4;
  }
}

.services {
  position: relative;
  margin-top: 88px;
  
  h2 {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 45px;
    font-family: $font_1;
    font-size: 60px;
    font-weight: 700;
    line-height: (110/60)*1em;
    letter-spacing: (200*60px)/1000;
    color: $base_color_2;
    opacity: 0.05;
    text-transform: uppercase;
    transform: translate(-50%, 0);
  } 
}

.service {
  display: flex;
  margin-bottom: 84px;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  
  &:nth-child(odd) {
    .service__img {
      order: 2;
    }
    
    .service__content {
      order: 1;
    }
  }
  
  &__img {
    margin: 0;
    position: relative;
    width: 50%;
    min-height: 400px;
    box-sizing: border-box;
    z-index: -1;
    
    figcaption {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      padding: 0 50px;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      box-sizing: border-box;
    }
  }
  
  &__title {
    font-family: $font_1;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    
    &_big {
      font-size: 124px;      
      line-height: (57/124)*1em;
      letter-spacing: 37.2px;
      margin-bottom: 30px;
    }
    
    &_small {
      font-size: 33px;
      line-height: (57/33)*1em;
      letter-spacing: 9.9px;
      margin-bottom: 30px;
    }
  }
  
  &__bottom-img {
    z-index: -3;
  }
  
  &__top-img {
    z-index: -2;
  }
  
  &__bottom-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    
    img {
      transform: translate(0, -50px);
    }
  }
  
  &__content {
    width: 50%;
    padding: 0 70px;
    box-sizing: border-box;
    
    p {
      padding: 18px 6px;
      font-family: $font_2;
      font-size: 17px;
      font-weight: 400;
      line-height: (34/17)*1em;
      font-style: italic;
      
    }
  }
  
  &__btn {
    padding-left: 6px;
  }
  
  &_personal {
    
    .service__title {
      &_small {
        margin-left: -45px;
      }
      
      &_big {
        margin-left: -20px;
      }
    }
    
    .service__content {
      padding-top: 58px;
      padding-left: 116px;
    }
    
    .service__top-img {
      transform: translateX(110px);
    }
  }
  
  &_group {
    margin-bottom: 120px;
    
    .service__title {
      &_big {
        margin-top: -24px;
        font-size: 116px;
        line-height: (43/116)*1em;
        letter-spacing: (116px*100)/1000;
      }
    }
    
    .service__content {
      padding-top: 24px;
    }
    
    .service__top-img {
      transform: translateX(124px);
    }
  }
  
  &_tango {
    margin-bottom: 70px;
    
    .service__img {
      figcaption {
        z-index: -2;
      }
    }
    
    .service__title {
      &_big {
        margin-top: -60px;
        margin-left: -24px;
        font-size: 117px;
        line-height: (44/117)*1em;
        letter-spacing: (117px*300)/1000;
      }
    }
    
    .service__top-img {
      transform: translateX(124px);
      z-index: 1;
    }
    
    .service__content {
      padding-top: 46px;
      padding-left: 116px;
    }
  }
}

.slider {
  &__item {
    position: relative;
  }
  
  &__count {
    position: absolute;
    top: 0;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transform: translate(-50%, 0);
    
  }
      
  &__number {
    display: inline-block;
    margin-top: -10px;
    opacity: 0.1;
    font-family: $font_1;
    font-size: 120px;
//    line-height: (279/120)*1em;
    line-height: 1em;
    font-weight: 700;
    color: $base_color_2;
  }

  &__total {
    display: inline-block;
    padding-top: 12px;
    opacity: 0.1;
    font-family: $font_1;
    font-size: 33px;
//    line-height: (279/33)*1em;
    line-height: 1.2em;
    font-weight: 700;
    color: $base_color_1;
    border-top: 8px solid $base_color_1;
  }
}

.dance-styles {
  
  h2 {
    margin-bottom: 36px;
  }
  
  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 180px;
  }
  
  &__describe {
    box-sizing: border-box;
    width: 50%;
    padding-top: 96px;
    padding-left: 170px;
    
    h3 {
      margin-bottom: 30px;
      padding-left: 17px;
      text-align: left;
      
      a {
        color: inherit;
        text-decoration: none;
      }
    }
    
    p {
      padding-left: 17px;
      font-family: $font_1;
      font-size: 14px;
      line-height: (30/14)*1em;
      text-align: left;
    }
  }
  
  &__img {
    position: relative;
    width: 348px;
    height: 472px;
    overflow: hidden;
    
    img {
      position:absolute;
      left:0;
      top:0;
      right:0;
      bottom:0;
      margin: auto;
      min-width: 100%;
      min-height: 100%;
      width: 0;
      object-fit:cover;
    }
  }
  
  &__slider {
    position: relative;
    
    &::before, 
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      display: block;
      width: 120px;
      height: 230px;
      background-color: $bg_color_3;
      z-index: -1;
    }
    
    &::before {
      left: 0;
      transform: translate(-40px, -50%);
    }
    
    &::after {
      right: 0;
      transform: translate(40px, -50%);
    }
  }
  
  &__controls {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    
    & .controls__prev {
      position: absolute;
      left: 50px;
    }
    
    & .controls__next {
      position: absolute;
      right: 50px;
    }
  }
}

.review {
  padding-top: 156px;
  margin-bottom: 60px;
  
  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &::before {
      position: absolute;
      content: '';
      top: 50%;
      left: 0;
      width: 365px;
      height: 386px;
      background-color: $bg_color_3;
      transform: translate(-40px, -50%);
      z-index: -1;
    }
  }
  
  &__header, 
  &__footer {
    box-sizing: border-box;
    width: 460px;
    text-align: center;
    border: 1px solid $base_color_2;
  }
  
  &__header {
    padding: 30px 20px;
    border-bottom: none;
  }
  
  &__footer {
    padding: 15px 20px;
    border-top: none;
  }
  
  &__img {
    position: relative;
    width: 921px;
    height: 557px;
    overflow: hidden;
    
    img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      min-width: 100%;
      min-height: 100%;
      width: 0;
      object-fit: cover;
      z-index: 1;
    }
    
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 100%;
      opacity: 0.75;
      background-color: $bg_color_3;
      z-index: 2;
    }
  }
  
  &__media {
    position: relative;
    
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      content: '';
      width: 155px;
      height: 155px;
      border-radius: 50%;
      background-color: $bg_color_3;
      transform: translate(50%, -50%);
      z-index: -5;
    }
  }
  
  &__video {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
  }
  
  &__video-btn {
    transform: translate(calc(100% - 23px), -50%);
  }
  
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: flex-start;
    margin-top: -557px;
    padding: 0 60px;
    height: 557px;
    z-index: 10;
    box-sizing: border-box;
    
    p {
      box-sizing: border-box;
      padding: 0 10px;
      width: 33%;
    }
  }
}






// Всплывающие окна и другие элементы сайта //
.popup {display:none; width: 350px; padding: 20px;}
// Всплывающие окна и другие элементы сайта //

@import "adaptive.scss";